name: pytest
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1'

env:
  UV_LOCKED: true

jobs:
  pytest:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ["3.11", "3.12", "3.13", "3.14"]
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true
          python-version: ${{ matrix.python-version }}
      - run: uv sync -q --no-default-groups --group test
      - run: sphinxcontrib-pydantic sys-info --developer
      - run: pytest tests --cov=sphinxcontrib.pydantic --cov-report=xml --cov-config=pyproject.toml
      - uses: codecov/codecov-action@v5
        if: ${{ github.repository == 'mscheltienne/sphinxcontrib-pydantic' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
